:root {
  --Blue-600: hsl(185, 75%, 39%);
  --Navy-950: hsl(229, 23%, 23%);
  --Gray-500: hsl(227, 10%, 46%);
  --Gray-100: hsl(225, 10%, 92%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--Blue-600);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

.card {
  height: 375px;
  width: 350px;
  background-color: var(--Gray-100);
  color: var(--Gray-500);
  position: absolute;
}

h3 {
  font-size: 18px;
}

.name-age {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

p {
  display: flex;
  justify-content: center;
}

.analytics {
  display: flex;
  justify-content: center;
}

.value {
  margin: 20px;
}

small {
  text-align: center;
}

.profile-pic {
  height: 100px;
  width: auto;
  border-radius: 50%;
  position: relative;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  outline: 4px solid var(--Gray-100);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.attribution a { color: hsl(228, 45%, 44%); }